# --------------------------------------------------
# Application
# --------------------------------------------------

XUI_IMAGE=ghcr.io/mhsanaei/3x-ui
XUI_VERSION=v3.2.6

TZ=UTC

# --------------------------------------------------
# X-UI Panel
# --------------------------------------------------

XUI_DOMAIN=xui.mamahoos.ir
XUI_PANEL_PORT=2053
