XUI_VERSION=v3.2.6

TZ=Europe/Berlin

XUI_DOMAIN=xui-admin.example.com
XUI_PORT=2053

EDGE_DOMAIN=edge.example.com
EDGE_PORT=10086

XUI_BASE_PATH=/console-change-me-random/

XUI_DB_TYPE=postgres
XUI_DB_HOST=postgres
XUI_DB_PORT=5432
XUI_DB_NAME=xui
XUI_DB_USER=xui
XUI_DB_PASSWORD=change_me
